.cntr-btn {
    margin: auto;
    width: 50%;
  }

.image-cnt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.model-cnt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px
}

.btn-cnt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}